numpy==1.19.5
attrs
backcall
bleach
certifi
chardet
colorama
cycler
Cython==0.29.16
decorator
defusedxml
entrypoints
future
gitdb2
GitPython
idna
ipykernel
ipython
ipython-genutils
ipywidgets
imageio
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab
jupyterlab-server
kiwisolver
MarkupSafe
matplotlib==3.2.1
mistune
nbconvert
nbdime
nbformat
notebook
pandocfilters
parso
pexpect
pickleshare
Pillow==6.0.0
prometheus-client
prompt-toolkit
ptyprocess
Pygments
pyparsing
pyrsistent
python-dateutil
pyzmq
qtconsole
requests
scipy==1.7.3
Send2Trash
six
smmap2
terminado
testpath
tornado
traitlets
urllib3
wcwidth
webencodings
widgetsnbextension
